* {
    font-size: 24px;
    font-family: "Italiana";
    transition: 0.5s;
}
p {
    color: white !important;
}
section {
    overflow: hidden;
}
.svg-menub {
    width: 10%;
}
.menub {
    width: 30%;
    justify-content: space-around;
}
.menu {
    text-decoration: none;
    color: white;
}
.menu-accueil,
.menu-histoire,
.menu-personnel,
.acheter-menu-para {
    text-decoration: none;
    line-height: 1px;
    position: relative;
}
.menu-accueil:hover::before,
.menu-histoire:hover::before,
.menu-personnel:hover::before,
.acheter-menu-para:hover::before {
    right: 7px;
    opacity: 1;
    visibility: visible;
}
.menu-accueil::before,
.menu-histoire::before,
.menu-personnel::before,
.acheter-menu-para::before {
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, right 0.4s ease-in-out;
    content: "";
    left: 7px;
    right: calc(100% + 6px);
    bottom: -0.3rem;
    position: absolute;
    background-color: #919409;
    height: 0.125rem;
    opacity: 0;
    visibility: hidden;
}
.circus {
    /* position: relative; */
    width: 100vw;
    height: 100vh;
    background: url(images/circus.jpg);
    background-size: cover;
    background-position: center;
}
.navbar-index {
    z-index: 999;
}
nav {
    backdrop-filter: blur(10px) !important;
}
.nav-link,
.nav-link .active,
.acheter-menu p {
    color: white !important;
}
.navbar-toggler,
.navbar-toggler::after {
    border-color: white !important;
    border: none;
}
.firstpage {
    padding-left: 0;
    padding-right: 0;
}
.spacing {
    margin-right: 50px;
}
.titre {
    font-size: 100px;
    color: white;
    text-transform: uppercase;
    z-index: 998;
}
.hero {
    max-height: 100vh;
    z-index: 502;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.bloc-black {
    background: rgba(12, 3, 3, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 500;
    top: 0;
}
.fond-histoire {
    background: #963131;
    position: relative;
    z-index: 501;
}
.para1-section2 {
    display: flex;
    align-items: center;
}
.para2-section2 {
    align-items: center;
    display: flex;
}
.cracheur-feu:hover {
    transform: scale(1.1);
}
.foulard:hover {
    transform: scale(1.1);
}
.elephant {
    display: flex;
    justify-content: center;
}
.elephant:hover {
    transform: scale(1.1);
}
.zebre {
    display: flex;
    align-items: flex-end;
}
.zebre:hover {
    transform: scale(1.1);
}

.titre-section2 {
    color: #210606;
    font-size: 7rem;
    text-transform: uppercase;
}
.a1 {
    grid-area: 1 / 2 / 1 / span 2;
}
.a2 {
    grid-area: 2 / 3 / 2 / span 2;
}
.a3 {
    grid-area: 3 / 4 / 3 / span 2;
}

.fond-personnel {
    background-color: #841818;
    z-index: 500;
    position: relative;
}
.clown-img {
    border-radius: 80px;
}
.titre-section {
    color: #210606;
    font-size: 5rem;
    position: absolute;
    text-transform: uppercase;
}
.bloc-titre-section3 {
    position: relative;
}
.bloc-artiste {
    width: 25%;
}
.artiste {
    border-radius: 80px;
}
.texte-artiste {
    display: flex;
    align-items: center;
}
.p1 {
    top: 483px;
    right: 1000px;
}
.p2 {
    top: 651px;
    right: 812px;
}
.p3 {
    top: 818px;
    right: 428px;
}
.bulle-big {
    width: 634px;
    height: 540px;
}
.bulle {
    z-index: 501;
    background: #919409;
    border-radius: 272px;
    position: absolute;
}
.bulle-semibig {
    width: 194px;
    height: 194px;
}
.bulle-neutre {
    width: 142px;
    height: 142px;
}
.bulle-semismall {
    width: 113px;
    height: 113px;
}
.bulle-small {
    width: 59px;
    height: 59px;
}
.bulle-big-top {
    top: -289px;
    left: -397px;
}
.bulle-semibig-top {
    top: 194px;
    left: 104px;
}
.bulle-neutre-top {
    top: 65px;
    left: 218px;
}
.bulle-semismall-top {
    top: 190px;
    left: 311px;
}
.bulle-small-top {
    top: 313px;
    left: 306px;
}
.bulle-big-bot {
    bottom: -289px;
    right: -397px;
}
.bulle-semibig-bot {
    bottom: 194px;
    right: 104px;
}
.bulle-neutre-bot {
    bottom: 65px;
    right: 218px;
}
.bulle-semismall-bot {
    bottom: 190px;
    right: 311px;
}
.bulle-small-bot {
    bottom: 313px;
    right: 306px;
}
ul {
    list-style-type: none;
    width: 25%;
}
footer {
    min-height: 100px;
    background: #411d27;
}
footer ul {
    margin: auto;
    width: 30%;
}
.légale {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
@media only screen and (max-width: 580px) {
    * {
        font-size: 18px;
    }
    .titre-group {
        grid-template: 5% 5% 5%/ 10% 10% 10%;
    }
    .a1 {
        grid-area: 1/ 2 / 1 / 2;
    }
    .a2 {
        grid-area: 3/2/23/2;
    }
    .a3 {
        grid-area: 5/2/5/2;
    }
    .elephant {
        justify-content: center;
        margin-bottom: 50px;
    }
    .img-elephant {
        width: 80%;
    }
    .para2-section2 {
        justify-content: center;
        text-align: center;
        margin-bottom: 50px;
    }
    .zebre {
        justify-content: center;
    }
    .foulard {
        width: 80%;
    }
    .para1-section2 {
        justify-content: center;
        text-align: center;
        margin-top: 50px;
    }
    .cracheur-feu {
        justify-content: center;
        display: flex;
        margin-left: 0 !important;
    }
    .bulle-big {
        width: 200px;
        height: 200px;
    }
    .bulle {
        z-index: 501;
        background: #919409;
        border-radius: 272px;
        position: absolute;
    }
    .bulle-semibig {
        width: 100px;
        height: 100px;
    }
    .bulle-neutre {
        width: 54px;
        height: 54px;
    }
    .bulle-semismall {
        width: 0px;
        height: 0px;
    }
    .bulle-small {
        width: 0px;
        height: 0px;
    }
    .bulle-big-top {
        top: -101px;
        left: -90px;
    }
    .bulle-semibig-top {
        top: 128px;
        left: 21px;
    }
    .bulle-neutre-top {
        top: 65px;
        left: 116px;
    }
    .bulle-semismall-top {
        top: 190px;
        left: 311px;
    }
    .bulle-small-top {
        top: 313px;
        left: 306px;
    }
    .bulle-big-bot {
        bottom: -101px;
        right: -90px;
    }
    .bulle-semibig-bot {
        bottom: 128px;
        right: 21px;
    }
    .bulle-neutre-bot {
        bottom: 65px;
        right: 116px;
    }
    .bulle-semismall-bot {
        bottom: 190px;
        right: 311px;
    }
    .bulle-small-bot {
        bottom: 313px;
        right: 306px;
    }
    .section-artiste {
        justify-content: center !important;
        margin-top: 200px;
    }
    .titre-section {
        font-size: 4rem;
    }
    .p1 {
        top: 1030px;
        right: 9px;
    }
    .p2 {
        top: 1110px;
        right: 122px;
    }
    .p3 {
        top: 1184px;
        right: 80px;
    }

    .bloc-clown {
        justify-content: center !important;
        margin-top: 50px;
    }
    .text-clown {
        width: 75%;
        z-index: 502;
    }
    .texte-artiste {
        width: 75%;
        z-index: 502;
    }
    footer ul {
        width: 80%;
    }
}

.titre-group {
    display: grid;
    grid-template: 30% 30% 20% / 10% 20% 20%;
}
