* {
    font-size: 18px;
    font-family: "Italiana";
}
.svg-menub {
    width: 10%;
}
.menu {
    margin-top: revert;
}
.circus {
    position: relative;
}
.navbar-index {
    z-index: 999;
}
.firstpage {
    padding-left: 0;
    padding-right: 0;
}
.spacing {
    margin-right: 50px;
}
.titre {
    font-size: 10rem;
    color: #919409;
    top: 107px;
    right: 134px;
    text-transform: uppercase;
    z-index: 998;
}
.bloc-black {
    background: rgba(12, 3, 3, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 500;
    top: 0;
}
.fond-histoire {
    
}
.histoire {
    
    background: #963131;
    width: 100%;
    height: 100%;
    position: absolute;
}
.elephant {
    position: absolute;
    width: 10%;
}